// out: null

// global styles 

/* !logos --------------------------------------------------- */
/* clases
.logo (surrounding div)
.logo--site (surrounding div of the site banner)
.logo__link (a tag)
.logo__img
*/


.logo__img {
       margin: 0;
       width: auto;
}

.logo__link {
    display: block;
    //width: @siteLogoWidth;
    //height: @siteLogoHeight;
    outline: none;
    &:hover, &:active &:focus, &:visited {
        color: @white;
        text-decoration: none;
    }   
    &:focus {
        outline: none;
    }  
}


// Component insitue

.contentinfo .logo {
       opacity: 0.75;
}

